<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field p-2'>
    <%= form.label :name, class: 'form-label' %><br />
    <%= form.text_field :name, autofocus: true, autocomplete: 'name', class:'form-control' %>
  </div>

  <div class='field p-2'>
    <%= form.label :preparation_time, class: 'form-label' %>
    <%= form.text_field :preparation_time, class:'form-control' %>
  </div>

  <div class='field p-2'>
    <%= form.label :cooking_time, class: 'form-label' %>
    <%= form.text_field :cooking_time, class:'form-control' %>
  </div>

  <div class='field p-2'>
    <%= form.label :description,class: 'form-label' %>
    <%= form.text_area :description, class:'form-control', style: "min-height: 100px; min-width: 400px" %>
  </div>

  <div class='recipe-form-fields p-2'>
    <%= form.label :public, class: 'form-label' %>
    <%= form.select :public , [["Yes", true], ["No", false] ], selected: true,  class: 'dropdown'%>
  </div>

  <div class='field p-2'>
    <%= form.submit 'Add Recipe', class: 'btn btn-secondary' %>
  </div>
<% end %>
