<div class='d-flex justify-content-center w-100'>
  <div class='w-100'>
    <div class='d-flex justify-content-evenly'>
      <h4>Total food type to buy:<%= @shopping_lists.count %></h4>
      <h4>Total price: <%= "$#{@total_price}" %></h4>
    </div>
    <table class='table table-stripped w-50 mx-auto'>
      <thead class='table-secondary'>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
      </thead>

      <% @shopping_lists.each do |shopping_list| %>
        <tr>
          <td><%= shopping_list.food.name%></td>
          <td><%= shopping_list.quantity%></td>
          <td><%= shopping_list.food.price%></td>
        </tr>
      <% end %>
    </table>

  </div>
</div>